package webserver

templ MessagesPage(global_data PageGlobalData, data MessageData) {
	<div class="messages-page">
		<script type="module" src="/static/vendor/emoji-picker/picker.js"></script>
		@ChatListComponent(global_data, data)
		@ChatViewComponent(global_data, data)
	</div>
	<div class="spacer"></div>
}
