package webserver

import (
	"html/template"
)

templ MessagesPage(go_tpl *template.Template, global_data PageGlobalData, data MessageData) {
	<div class="messages-page">
		<script type="module" src="/static/vendor/emoji-picker/picker.js"></script>
		@templ.FromGoHTML(go_tpl.Lookup("chat-list"), data)
		@templ.FromGoHTML(go_tpl.Lookup("chat-view"), data)
	</div>
	<div class="spacer"></div>
}
