package webserver

templ TimelinePage(global_data PageGlobalData, data TimelineData) {
	<div class="timeline-header">
		<div class="tabs row">
			@tab("User feed", data.ActiveTab == "User feed", "/timeline")
			@tab("Offline timeline", data.ActiveTab == "Offline", "/timeline/offline")
		</div>
	</div>

	<div class="timeline">
		@TimelineComponent(global_data, data.Feed)
	</div>
}
